@charset "utf-8";

@font-face {
      font-family: 'NotoKrL';
      font-style: normal;
      font-weight: 100;
      src: local('Noto Sans Light'), local('NotoSans-Light'), url(../fonts/NotoSans-Light.eot);
      src: url(../fonts/NotoSans-Light.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NotoSans-Light.woff2) format('woff2'),
            url(../fonts/NotoSans-Light.woff) format('woff');
}

@font-face {
      font-family: 'NotoKrR';
      font-style: normal;
      font-weight: 300;
      src: local('Noto Sans Regular'), local('NotoSans-Regular'), url(../fonts/NotoSans-Regular.eot);
      src: url(../fonts/NotoSans-Regular.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NotoSans-Regular.woff2) format('woff2'),
            url(../fonts/NotoSans-Regular.woff) format('woff');
}

@font-face {
      font-family: 'NotoKrM';
      font-style: normal;
      font-weight: 500;
      src: local('Noto Sans Medium'), local('NotoSans-Medium'), url(../fonts/NotoSans-Medium.eot);
      src: url(../fonts/NotoSans-Medium.eot?#iefix) format('embedded-opentype'),
            url(../fonts/NotoSans-Medium.woff2) format('woff2'),
            url(../fonts/NotoSans-Medium.woff) format('woff');
}

@font-face {
      font-family: 'gothamL';
      src: local(※),
            url('../fonts/Gotham-Light.otf') format('opentype'),
            url('../fonts/GothamLight.ttf') format('truetype');
      font-weight: normal;
}

@font-face {
      font-family: gothamB;
      font-weight: normal;
      src: url('../fonts/GothamBook.ttf') format("truetype");
}

@font-face {
      font-family: gothamM;
      font-weight: normal;
      src: url('../fonts/GothamMedium.ttf') format("truetype");
}

@font-face {
      font-family: playfair;
      font-weight: normal;
      src: url('../fonts/PlayfairDisplaySC-Regular.otf') format("opentype");
}

a {
      box-sizing: border-box;
      color: inherit;
      text-decoration: none;
}

.tabType02 li {
      width: auto;
}


.topArea .topInner {
      display: table-cell;
      padding: 97px 0 90px;
}

.tabType01 {
      position: relative;
      display: table;
      width: 100%;
      table-layout: fixed;
}

.tabType02:after {
      display: none;
}

.tabType01:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #000;
}

ul:after,
ol:after {
      content: '';
      display: block;
      clear: both;
}

.tabType01 li.on {
      z-index: 10;
      border: 1px solid #000;
      border-bottom: 0;
}

.tabType01 li.on a {
      color: #111;
      color: #000;
}

.tabType01 li:first-child {
      border-left: 1px solid #aaa;
      /* border-right: 0; */
}

/* .tabType02 li {
      width: auto;
} */

.tabType01 li {
      position: relative;
      display: table-cell;
      width: 100%;
      border: solid #aaa;
      border-width: 1px 0 0 1px;
}

.tabType01 li:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #000;
}

.tabType01 li.on:after {
      background: #fff;
}

.tabType01 li a {
      display: block;
      height: 60px;
      line-height: 60px;
      color: #666;
      text-align: center;
      font-size: 20px;
      font-family: gothamL, notokrL;
      letter-spacing: -1px;
      text-transform: uppercase;
}

.tabType01 li:first-child.on a {
      margin-left: 0;
}

a,
button {
      cursor: pointer;
}

.tabType02 li.on+li {
      border-left: 0;
}

.tabType01 li.on+li {
      border-left: 0;
}

.tabType02 li:last-child {
      border-left: 1px solid #aaa;
}

.tabType01 li:last-child {
      border-right: 1px solid #aaa;
}

/* 로그인   박스  */
.login .loginBox {
      display: table;
      width: 100%;
}

.login .loginFrm input {
      background-color: #f9f9f9;
}

.loginFrm input {
      width: 100%;
      height: 65px;
      padding: 20px;
      border: none;
}

.membersLogin,
.nonMembersLogin {
      display: table-cell;
      width: 50%;
      padding: 98px 0;
      vertical-align: top;
}

.membersLogin {
      padding-right: 40px;
}

.loginFrm {
      position: relative;
      margin-bottom: 10px;
      margin-top: 0;
}

.login .membersLogin .loginFrm .alertMessage,
.login .selectWrap .alertMessage {
      position: absolute;
      top: -32px;
      left: 0;
}

.loginFrm .alertMessage,
.selectWrap .alertMessage {
      display: none;
      width: 100%;
      color: #b01414;
      font: 500 14px/32px notokrR;
}



input[type=text],
input[type=password],
input[type=tel] {
      height: 60px;
      /* padding: 8px 13px 8px 0; */
      padding: 7px 13px 9px 0\0IE;
      color: #000;
      border: solid #ccc;
      border-width: 0 0 1px 0;
      vertical-align: middle;
      font-size: 18px;
      font-family: gothamL, notokrL;
}

input:-internal-autofill-selected {
      appearance: menulist-button;
      background-image: none !important;
      background-color: -internal-light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
      color: -internal-light-dark(black, white) !important;
}

/* 아이디 저장 */
.loginFrm+.frm {
      display: block;
      margin: 16px 0 7px;
}

.frm {
      display: inline-block;
      position: relative;
}

.frm input[type=checkbox],
.frm input[type=radio] {
      position: absolute;
      left: 12px;
      top: 16px;
      width: 1px;
      height: 1px;
      opacity: 0;
}

input,
select {
      vertical-align: middle;
}

label {
      cursor: pointer;
}

.frm label {
      display: inline-block;
      position: relative;
      font-size: 17px;
      padding-left: 35px;
      font-family: gothamL, notokrL;
      text-transform: uppercase;
}

.frm input[type=checkbox]+label:before {
      background-position: 0 -13px;
}

.frm label:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 3px;
      width: 26px;
      height: 26px;
      background: url(../images/spr_form.png) no-repeat;
}

/* 로그인 버튼 */
.login .btnSC.btnL.active {
      height: 70px;
      margin: 15px 0 15px;
      padding: 0;
      font-size: 22px;
      font-weight: 500;
      line-height: 66px;
}

.active {
      background: #000 !important;
      color: #fff !important;
}

.btnFull {
      width: 100% !important;
      min-width: auto;
}

.btnL {
      min-width: 190px;
      height: 60px;
      padding: 0 25px;
      line-height: 58px;
      font-size: 18px;
      letter-spacing: -.01em;
}

.btnSC {
      position: relative;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      box-sizing: border-box;
      color: #000;
      border: 1px solid #000;
      background: #fff;
      transition: color 0.5s ease-in-out;
      overflow: hidden;
      z-index: 1;
      font-family: gothamL, notokrL;
}

/* 로그인 버트 아래 */
.loginGuide {
      margin-bottom: 10px;
      margin-top: 0;
      font-size: 16px;

}

.loginLink a {
      margin-right: 20px;
}

.icoArr {
      position: relative;
      padding-right: 17px;
      background: transparent;
}

.btnS {
      display: inline-block;
      min-width: 68px;
      font-size: 15px;
      border: 0;
      vertical-align: top;
}

.icoArr::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -6px;
      width: 7px;
      height: 13px;
      background: url(../images/login_before.png) no-repeat 0 0;
}

/* sns 로그인 */
.login .snsLogin {
      display: table-cell;
      width: 50%;
      padding: 98px 0;
      padding-left: 40px;
      vertical-align: top;
}

.login .snsLogin>a {
      position: relative;
      display: block;
      width: 100%;
      height: 65px;
      margin-bottom: 10px;
      padding: 16px 20px;
      text-align: center;
      border: 1px solid #eee;
}

.login .snsLogin>a:before {
      content: '';
      position: absolute;
      left: 20px;
      top: 20px;
      width: 24px;
      height: 24px;
}

/* sns 로고 */
.login .snsLogin>.google:before {
      background: url(../images/ico_sns-google.png) no-repeat 0 0;
}
.login .snsLogin>.facebook:before {
      background: url(../images/ico_sns-facebook.png) no-repeat 0 0;
}
.login .snsLogin>.naver:before {
      background: url(../images/ico_sns-naver.png) no-repeat 0 0;
}
.login .snsLogin>.kakao:before {
      background: url(../images/ico_sns-kakao.png) no-repeat 0 0;
}
.login .snsLogin>.apple:before {
      background: url(../images/ico_sns-apple.png) no-repeat 0 0;
}

/* 로그인 밑에 창 */
.login .txtGuide::before {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      margin-bottom: 15px;
      background-color: #ccc;
}
p.txtGuide, .txtGuide li {
      position: relative;
      color: #888;
      padding-left: 16px;
      font: 16px gothamL, notokrL, playfair;
      letter-spacing: -.01em;
}
p.txtGuide:before, .txtGuide li:before {
      content: '＊';
      position: absolute;
      left: 0;
      top: 4px;
      font: 600 15px gothamL;
}
/* 비회원 로그인  */
.nonMembersLogin {
      padding: 98px 370px;
}
.login .frm input[type=radio] + label {
      margin-right: 20px;
}
.frm input[type=checkbox], .frm input[type=radio] {
      position: absolute;
      left: 12px;
      top: 16px;
      width: 1px;
      height: 1px;
      opacity: 0;
}
.frm input[type=radio]:checked+label:before {
      background-position: -78px -13px;
}
.frm input[type=radio]+label:before {
      background-position: -52px -13px;
}
.loginFrm2 .alertMessage2 {
      display: none;
      position: absolute;
      top: -32px;
      left: 0;
      width: 100%;
      background: #fff;
      color: #b01414;
      font: 500 14px/32px notokrR;
}
.active:before {
      content: "";
      position: absolute;
      top: 0;
      left: -150%;
      background: #fff;
      width: 130%;
      height: 100%;
      -webkit-transform: skewX(-16deg);
      -moz-transform: skewX(-16deg);
      -o-transform: skewX(-16deg);
      -ms-transform: skewX(-16deg);
      transform: skewX(-16deg);
      transition: all 0.5s ease-in-out;
      overflow: hidden;
}
.active:hover:before{
      left: -10%;
}
/* .active{
      overflow: hidden;
} */
.frm input:checked+label:before {
      background-position: -26px -13px;
}