@font-face {
  font-family: "NotoKrL";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans Light"), local("NotoSans-Light"),
    url(../fonts/NotoSans-Light.eot);
  src: url(../fonts/NotoSans-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Light.woff2) format("woff2"),
    url(../fonts/NotoSans-Light.woff) format("woff");
}

@font-face {
  font-family: "NotoKrR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url(../fonts/NotoSans-Regular.eot);
  src: url(../fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Regular.woff2) format("woff2"),
    url(../fonts/NotoSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "NotoKrM";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url(../fonts/NotoSans-Medium.eot);
  src: url(../fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/NotoSans-Medium.woff2) format("woff2"),
    url(../fonts/NotoSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "gothamL";
  src: local(※), url("../fonts/Gotham-Light.otf") format("opentype"),
    url("../fonts/GothamLight.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: gothamB;
  font-weight: normal;
  src: url("../fonts/GothamBook.ttf") format("truetype");
}
@font-face {
  font-family: gothamM;
  font-weight: normal;
  src: url("../fonts/GothamMedium.ttf") format("truetype");
}

@font-face {
  font-family: playfair;
  font-weight: normal;
  src: url("../fonts/PlayfairDisplaySC-Regular.otf") format("opentype");
}
* {
  margin: 0;
}
html {
  width: 100%;
  overflow-x: hidden; /* 창 크기 줄일 시 푸터 이상해지는 문제 -> x축 스크롤 막아서 안보임, 대신 다른 body 내용들 줄인 상태로 못봄  */
}
body {
  width: 100%;
}
body > #wrap {
  height: auto;
  width: 100%;
}

body,
input,
textarea,
select,
button,
table,
th,
td,
pre {
  color: #000;
  font-family: notokrL, gothamL, playfair;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.8;
}
ul {
  list-style: none;
  padding-inline-start: 0px;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
  height: 60px;
  padding: 8px 13px 8px 0;
  padding: 7px 13px 9px 0\0IE;
  color: #000;
  border: solid #ccc;
  border-width: 0 0 1px 0;
  vertical-align: middle;
  font-size: 18px;
  font-family: gothamL, notokrL;
}

fieldset {
  border: none;
}
#container {
  width: 1500px;
  padding-top: 100px;
  overflow: hidden;
  margin: auto;
}

.qa_txt {
  width: 1400px;
  height: 170px;
  padding-top: 97px;
  padding-bottom: 90px;
}
.qa_txt > h1 {
  font: 500 60px playfair;
  font-feature-settings: "lnum", "pnum";
  margin-bottom: 15px;
}
.qa_txt > h3 {
  font-size: 20px;
  font-family: notokrL, gothamL, playfair;
  font-weight: 400;
  line-height: 1.8;
  margin: 0;
}
.qa_txt > h3:first-child {
  margin-top: 18px;
}
.left_list {
  width: 300px;
  padding: 52px 35px 44px;
  background: #f9f9f9;
  margin: 0;
  float: left;
}
.left_list > a {
  display: block;
  text-decoration: none;
  color: #000;
}
.left_list > a:first-child {
  font: 600 18px/38px gothamL;
}
.qa_form_area {
  float: right;
  padding-bottom: 180px;
}
.qa_form_area > h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  font: 500 30px gothamB, notokrR;
}
.gray_area {
  display: flex;
  background: #f9f9f9;
  width: 940px;
  height: 50px;
  padding: 25px 30px;
}
.gray_area > h4 {
  font: 400 18px/1 notokrL;
  padding-top: 17px;
}
.gray_area > a {
  position: absolute;
  border: 1px solid black;
  text-decoration: none;
  color: #000;
  margin-left: 42%;
  padding: 0 60px 0 20px;
  line-height: 50px;
  height: 50px;
  width: 87px;
}
.gray_area > a::after {
  content: "";
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 13px;
  background: url(../images/q&a_img/ico_arr_7x13.png) no-repeat 0 0;
}
.appForm {
  padding: 0;
}
fieldset {
  padding: 0;
  margin-top: 15px;
}
.tit_lbl {
  font-family: gothamM, notokrM;
  font-size: 14px;
  line-height: 1;
  color: #333;
  text-transform: uppercase;
}
.pilsoo::after {
  content: "";
  display: inline-block;
  /* position: absolute;
      right: 0;
      top: 50%; */
  width: 6px;
  height: 6px;
  background: url(../images/q&a_img/ico_essential.png) no-repeat 0 0;
  margin: 0 0 4px 4px;
}
.radio_list > label {
  /* 얘네에 before로 이미지 걸기 */
  display: inline-block;
  position: relative;
  font-size: 17px;
  padding-left: 35px;
  font-family: gothamL, notokrL;
}
.radio_list > input {
  position: absolute;
  left: 12px;
  top: 16px;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.select_hotel > option {
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 0 20px;
  font-family: gothamL, notokrL;
}
.title_area > input {
  height: 44px;
  width: 910px;
  outline: none;
}
.content_area > textarea {
  height: 115px;
  width: 910px;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
  font-size: 16px;
}
.content_area > p::before {
  content: "*";
  position: absolute;
  left: 0;
  top: 4px;
  font: 600 15px gothamL;
}
.content_area > p {
  position: relative;
  color: #888;
  padding-left: 16px;
  font: 16px gothamL, notokrL, playfair;
  margin-top: 14px;
}
.name_area > input {
  height: 44px;
  width: 440px;
  outline: none;
}
.tel_list > input {
  width: 152px;
  height: 43px;
  padding: 8px 13px 8px 0px;
  outline: none;
}
.ico_space {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.email_area {
  display: flex;
}
.email_area > .ico_space {
  margin-top: 20px;
}
.email_area > input {
  outline: none;
  font-family: gothamL, notokrL;
  width: 244px;
  height: 43px;
}
.select_common {
  margin-top: 20px;
}
.filebox {
  display: flex;
}
.filebox > input {
  outline: none;
}
.txtGuide {
  position: relative;
  color: #888;
  padding-left: 16px;
  font: 16px gothamL, notokrL, playfair;
  margin-top: 14px;
}
.txtGuide::before {
  content: "*";
  position: absolute;
  left: 0;
  top: 4px;
  font: 600 15px gothamL;
}
.agree {
  margin: 74px 0 24px;
  font: 500 24px gothamB, notokrR;
}
/* 민지 */
.filebox .upload-name {
  display: inline-block;
  height: 43px;
  padding: 8px 13px 8px 0;
  width: 541px;
  color: #000;
  border: solid #ccc;
  border-width: 0 0 1px 0;
  vertical-align: middle;
  font-size: 18px;
  font-family: gothamL, notokrL;
  margin-right: 10px;
  outline: none;
}
.filebox label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  color: #000;
  border: 1px solid #000;
  background: #fff;
  transition: color 0.5s ease-in-out;
  overflow: hidden;
  z-index: 1;
  font-family: gothamL, notokrL;
  min-width: 162px;
  height: 50px;
  padding: 0 25px;
  line-height: 48px;
  font-size: 17px;
  letter-spacing: -0.01em;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
}
.inbox .btnDel {
  position: absolute;
  /* bottom: -122%; */
  right: 34%;
  margin-top: 25px;
  width: 15px;
  height: 15px;
  background: url(../images/q&a_img/btn_close_14x14.png) no-repeat 50% 50%;
  text-indent: -99999px;
  cursor: pointer;
}

.inbox .btnDel.hidden {
  display: none;
}
.filebox input[type="file"] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
}
.radio_list > label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 26px;
  height: 26px;
  background: url(../images/q&a_img/spr_form.png) no-repeat;
  background-position: -52px -13px;
}
.radio_list > label.change_radio::before {
  background-position: -78px -13px;
}
.toggleCont {
  position: absolute;
  display: none;
}
.show {
  display: block;
}

/* 도연님 */
/* 회원가입 약관 제목 */
.join .titDep2 {
  margin-bottom: 18px;
  letter-spacing: -0.085em;
}
.titDep2:first-child {
  margin-top: 0;
}
.titDep2 {
  font: 500 30px gothamB, notokrR;
  margin: 90px 0 15px;
}

/* .toggleList.agreeCont .frm.type02  */
.toggleCont .toggleInner {
  padding: 18px 20px 19px;
}
.frm.type02 {
  display: block;
}
.frm.type02 label {
  font-size: 18px;
  padding-left: 33px;
}
/* .frm.type02 input[type="checkbox"] + label:before {
  background-position: 0 0;
} */
.frm.type02 label:before {
  left: 0;
  top: 9px;
  width: 18px;
  height: 13px;
}
.toggleList.agreeCont .btnToggle {
  position: absolute;
  right: 20px;
  top: 23px;
  width: 18px;
  height: 20px;
  overflow: hidden;
  text-indent: -9999px;
}
.toggleList.agreeCont .btnToggle:before {
  content: "";
  display: block;
  width: 18px;
  height: 10px;
  padding: 5px 0;
  background: url(../images/ico_toggle_18x10.png) no-repeat 0 5px;
}

button {
  box-sizing: border-box;
  border: none;
  background: none;
}

/* ------------------------------------------------- */
ul:after,
ol:after {
  content: "";
  display: block;
  clear: both;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rsvList > li:last-child.toggleOn {
  border-bottom: 0;
}
.rsvList > li:last-child {
  border-bottom: 1px solid #ccc;
}
.rsvList > li {
  padding: 21px 20px 22px;
  border-top: 1px solid #ccc;
}
.rsvList li:first-child {
  border-top-color: #000;
}
.toggleList > li {
  position: relative;
}
.frm.type02 {
  display: block;
}
.frm {
  display: inline-block;
  position: relative;
}
.frm input[type="checkbox"],
.frm input[type="radio"] {
  position: absolute;
  left: 12px;
  top: 16px;
  width: 1px;
  height: 1px;
  opacity: 0;
}
/* ---------------------------------------------- */
.select_hotel {
  margin-right: 110px;
}
.select-origin1,
.select-origin2 {
  width: 325px;
  height: 40px;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid black;
  font-size: 18px;
  cursor: pointer;
  font-family: gothamL, notokrL;
  color: #333;
}
.select-origin1 > option,
.select-origin2 > option {
  font-size: 18px;
}
select:focus {
  outline: none;
}
/* ---------------------------------------------- */
input,
select {
  vertical-align: middle;
}
.frm.type02 label {
  font-size: 18px;
  padding-left: 33px;
}
.frm label {
  display: inline-block;
  position: relative;
  font-size: 17px;
  padding-left: 35px;
  font-family: gothamL, notokrL;
  text-transform: uppercase;
}

label {
  cursor: pointer;
}
.frm.type02 label:before {
  left: 0;
  top: 9px;
  width: 18px;
  height: 13px;
}
.frm label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 26px;
  height: 26px;
  background: url(../images/q&a_img/spr_form.png) no-repeat;
}
.frm label.changed:before {
  background-position: -18px 0px;
}
.rsvList > li .btnToggle {
  position: absolute;
  right: 18px;
  top: 24px;
  width: 40px;
  height: 28px;
  overflow: hidden;
  text-indent: -9999px;
}
.rsvList > li.toggleOn .btnToggle:before {
  background-position: -28px 5px;
}
.rsvList > li .btnToggle:before {
  content: "";
  display: block;
  width: 28px;
  height: 15px;
  padding: 6px 0 7px;
  background: url(../images/q&a_img/ico_toggle.png) no-repeat 0 5px;
}
.rsvList > li .btnToggle.changed2::before {
  background-position: -28px 5px;
}

.hidden {
  overflow: hidden;
  position: absolute;
  font: 0/0 notokrL;
  width: 0;
  height: 0;
}
.toggleList > li .toggleCont {
  display: none;
  position: relative;
}
.rsvList > li:last-child .toggleInner {
  padding-bottom: 0;
}
.toggleList > li .toggleCont .toggleInner {
  padding: 33px 0;
}
table {
  width: 100%;
  border-collapse: separate;
  empty-cells: show;
  border-spacing: 0;
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}
table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
}
caption {
  overflow: hidden;
  position: static;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-transform: uppercase;
}
caption {
  display: table-caption;
  text-align: -webkit-center;
}
table {
  width: 100%;
  border-collapse: separate;
  empty-cells: show;
  border-spacing: 0;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
table {
  width: 100%;
  border-collapse: separate;
  empty-cells: show;
  border-spacing: 0;
}
li {
  text-align: -webkit-match-parent;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.tblH thead tr th:first-child,
.tblH tbody tr td:first-child {
  border-left: none;
}
.tblH thead tr th {
  padding: 16px;
  font-size: 17px;
  border-top: 1px solid #000;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  text-transform: uppercase;
  font-family: gothamM, notokrM;
  color: #333;
}
.tblH thead tr th,
.tblH tbody tr td {
  font-family: gothamL, notokrL;
  text-transform: uppercase;
  background: #fff;
}
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}
table {
  width: 100%;
  border-collapse: separate;
  empty-cells: show;
  border-spacing: 0;
}
td,
th {
  margin: 0;
  padding: 0;
  word-break: keep-all;
  word-wrap: break-word;
}
.tblH thead tr th {
  padding: 16px;
  font-size: 17px;
  border-top: 1px solid #000;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  text-transform: uppercase;
  font-family: gothamM, notokrM;
  color: #333;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
td {
  display: table-cell;
  vertical-align: inherit;
}
.tblH thead tr th:first-child,
.tblH tbody tr td:first-child {
  border-left: none;
}
.tblH tbody tr td {
  padding: 16px;
  font-size: 17px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.tblH thead tr th,
.tblH tbody tr td {
  font-family: gothamL, notokrL;
  text-transform: uppercase;
  background: #fff;
}
table + .txtGuide {
  margin-top: 15px;
}
p.txtGuide,
.txtGuide li {
  position: relative;
  color: #888;
  padding-left: 16px;
  font: 16px gothamL, notokrL, playfair;
  letter-spacing: -0.01em;
}
p.txtGuide:before,
.txtGuide li:before {
  content: "＊";
  position: absolute;
  left: 0;
  top: 4px;
  font: 600 15px gothamL;
}

/* ---------------------------------- */
.active {
  left: 57%;
  margin-top: 58px;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  color: #fff;
  overflow: hidden;
  min-width: 190px;
  height: 60px;
  line-height: 58px;
  font-size: 18px;
}
.active::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -2;
  box-sizing: border-box;
  position: absolute;
  background-color: #000;
}
.active::before {
  content: "";
  width: 130%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: -150%;
  z-index: -1;
  background-color: #fff;
  transform: skewX(-16deg);
  transition: 0.5s ease-in-out;
}
.active:hover {
  color: black;
}
.active:hover:before {
  left: -10%;
}
.app_content {
  padding: 16px 0 5px;
}
.app_list > .clear {
  margin-top: 30px;
}
.app_list > .clear:first-child {
  margin-top: 30px;
}
.radio_list {
  margin-right: 20px;
}

/* 셀렉트 박스 */
.hotel_sel2 {
  margin-left: 25px;
}

.selectArea {
  width: 490px;
  position: relative;
}
.selectArea .select {
  width: 100%;
  display: inline-block;
  position: relative;
  height: 60px;
  line-height: 58px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: solid #000;
  border-width: 0 0 1px 0;
  background: #fff;
  color: #333;
  text-align: left;
  cursor: pointer;
  font-family: gothamL, notokrL;
  font-weight: 400;
  font-size: 18px;
}
.select::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  width: 11px;
  height: 7px;
  background: url(../images/mypage_changeInfo_img/spr_form.png) no-repeat 0 -39px;
}
.selectArea .option {
  width: 100%;
  display: block;
  z-index: 3;
  height: 150px;
  overflow-y: scroll;
  position: absolute;
  border: solid #333;
  border-width: 0 1px 1px 1px;
  background: #fff;
  display: none;
}
.selectArea .option li > a {
  height: 50px;
  background: #fff;
  padding: 0 20px;
  color: #000;
  font-family: notokrL, gothamL, playfair;
  font-weight: 400;
  font-size: 18px;
  position: relative;
  display: block;
  text-align: left;
  line-height: 50px;
}
.selectArea .option li > a:hover {
  background: #f7f7f7;
}
.selectArea .option::-webkit-scrollbar {
  width: 10px;
  height: 200px;
}
.selectArea .option::-webkit-scrollbar-thumb {
  background-color: #aaa;
  background-clip: padding-box;
  border-top: solid 10px #fff;
  border-bottom: solid 10px #fff;
}
.selectArea .option::-webkit-scrollbar-track {
  background-color: #fff;
}

.selectArea {
  width: 244px;
  display: inline-block;
}

.hide {
  display: none;
}
.show {
  display: block;
}

.open:after {
  background-position: -11px -39px !important;
}
.openOption {
  display: block !important;
}
.open_select::after {
  background-position: -11px -39px !important;
}
